---
import { Image } from "astro:assets";
import { CldUploadWidget, CldImage } from "astro-cloudinary";
---

<section class="py-5 sm:py-10 lg:py-16">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
            <div>
                <h1
                    class="text-2xl font-bold sm:text-4xl lg:text-5xl mt-3 spooky-font2 text-primary"
                >
                    Unleash terror
                </h1>

                <p class="mt-5 text-base sm:text-xl">
                    Turn a person's photo into its most terrifying and
                    spine-chilling version!
                </p>

                <div class="mt-10 sm:flex sm:items-center sm:space-x-8">
                    <div>
                        <CldUploadWidget
                            id="upload-widget"
                            uploadPreset="spookifier-upload-unsigned"
                            options={{
                                sources: ["local", "camera"],
                                // folder: "123456",

                                multiple: false,
                                maxFiles: 1,
                                language: "en",
                                text: {
                                    en: {
                                        or: "Or",

                                        menu: {
                                            files: "Upload from your device",
                                        },
                                        local: {
                                            browse: "Select",
                                            dd_title_single:
                                                "Drag your image here",
                                        },
                                    },
                                },
                                styles: {
                                    palette: {
                                        window: "#000000",
                                        sourceBg: "#000000",
                                        windowBorder: "#FF8405",
                                        tabIcon: "#FF8405",
                                        inactiveTabIcon: "#924C05",
                                        menuIcons: "#FF8405",
                                        link: "#FD9705",
                                        action: "#336BFF",
                                        inProgress: "#00BFFF",
                                        complete: "#33ff00",
                                        error: "#EA2727",
                                        textDark: "#000000",
                                        textLight: "#FFFFFF",
                                    },
                                    fonts: {
                                        default: null,
                                        "'Space Mono', monospace": {
                                            url: "https://fonts.googleapis.com/css?family=Space+Mono",
                                            active: true,
                                        },
                                    },
                                },
                            }}
                        >
                            <button
                                title="Upload your photo"
                                class="inline-flex items-center justify-center px-10 py-4 text-base text-white
            font-semibold transition-all duration-200 rounded
            bg-primary hover:bg-secondary focus:bg-secondary"
                                role="button"
                            >
                                Upload your photo...
                            </button>
                        </CldUploadWidget>
                        <p class="text-offset spooky-font2">Only if you dare</p>
                    </div>
                </div>
            </div>
            <div class="relative flex justify-center">
                <two-up>
                    <img
                        id="original"
                        src="https://res.cloudinary.com/ds4qpjtfq/image/upload/v1728573823/juqoktdzv0ostlxssuja.jpg"
                    />
                    <img
                        id="preview"
                        src="https://res.cloudinary.com/ds4qpjtfq/image/upload/v1728573823/juqoktdzv0ostlxssuja.jpg"
                    />
                </two-up>
            </div>
        </div>
    </div>
</section>

<script>
    import "two-up-element";
    const widget = document.getElementById("upload-widget");

    if (widget) {
        console.log(widget)
        widget.addEventListener("clduploadwidget:success", ((
            e: CustomEvent<{ info: { public_id: string } }>,
        ) => {
            const publicId = e.detail.info.public_id;
            console.log(publicId);
        }) as EventListener);
    }
</script>
