---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Resume from '../components/sections/Resume.astro';
import { CldImage} from "astro-cloudinary";
import {getCollection, getEntries} from 'astro:content'

const folder = Astro.url.searchParams.get('folder')
const images = await getCollection('images')
// console.log(images)
---

<Layout title="Spookifier">
	<Hero />
	<!-- <Resume /> -->

	<!-- <ul>
		{
			images.map((image) => {
			  return (
				<li>
				  <a>
					<CldImage
					  src={image.data.public_id}
					  width={250}
					  height={250}
					  crop={{
						type: "fill",
						source: true,
					  }}
					/>
				  </a>
				</li>
			  )
			})
		  }
	</ul> -->
</Layout>